
#
# Notification script when limits are exceeded. Without this, the monitor won't
# be very effective
#
NotificationScript=/etc/slurm/slurm-monitor-notification.pl

#
# Comma seperated of recipients. Either an email, a user name, or "*LOGIN*"
# (the default)
# 
NotificationRecipients=*LOGIN*

#
# Like NotificationRecipients, but in BCC
# 
NotificationBcc=

#
# The reply-to address of the notification mail
# 
NotificationReplyto=slurm

#
# Interval in seconds to check if config file has been updated
#
ConfUpdateCheckInterval=3600

#
# Minimum running time of jobs to notify, in seconds.
#
MinRunTime=1800

#
# Notify about short jobs if RunTime is less than TimeLimit by this percent
#
ShortJobPercent=15

#
# Select what to notify. These can be overridden by ~/.slurm-resource-monitor.
#
NotifyShortJob=Yes
NotifyUnusedCPUs=Yes
NotifyUnusedGPUs=Yes
NotifyUnusedMemory=Yes

#
# The percentile of cpu or gpu load to be considered in-use.
#
InUseCPUPercent=5
InUseGPUPercent=15

#
# The number of allowed unused resources (cpus or gpus)
#
AllowedUnusedCPUs=2
AllowedUnusedGPUs=1

#
# The percent of the time which the unused resources (cpus or gpus) is allowed
#
AllowedUnusedCPUPercent=75
AllowedUnusedGPUPercent=25
AllowedUnusedMemoryPercent=25

#
# The minimum percent of the job's total runtime which it needs to be monitored
#
MinMonitoredPercent=75

#
# Sampling interval
#
SamplingInterval=60

#
# Minimum number of samples for reporting.
#
MinSamples=10

#
# Runtime directory where some data files will be saved for the notification
# script. Should be created before the daemon start. Defaults to
# the RUNTIME_DIRECTORY environment variable
#
RuntimeDir=/run/slurm-resource-monitor

#
# Whether to keep and report entire CPU or GPU load sampling data or just the
# usage historgram.
#
NotifyCPUGraph=Yes
NotifyGPUGraph=Yes
NotifyMemoryGraph=Yes

#
# Whether to notify on interactive jobs as well. Interactive jobs are less
# likely to use all resources, but might be limited elsewhere. This can be
# configured per user in ~/.slurm-resource-monitor.
#
NotifyInteractive=No


#
# On array jobs, tasks above this will not be notified. This can be configured
# per user in ~/.slurm-resource-monitor.
#
MaxArrayTaskId=10
