# -*- conf -*-

[Unit]
Requires=slurmd.service

[Service]
Type=simple
User=nobody
ExecStart=/usr/local/bin/slurm-resource-monitor.pl
SyslogIdentifier=slurm-resource-monitor

[Install]
WantedBy=multi-user.target
